:root {
    --main-orange: #723435;
    --main-cream: #FFEBE2;
    --main-gray: #2A2A2A;
  }  

/* Global Properties*/
.underline {
    text-decoration: underline;
}

.cream-text {
    color: var(--main-cream);
}

.orange-text {
    color: var(--main-orange);
}

.orange-background {
    background-color: var(--main-orange);
}

.gray-text {
    color: var(--main-gray);
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

/*Other Properties*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Hepta Slab", serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: white;
}

main {
    margin: 2rem;
}

li::marker {
    color: var(--main-orange);
  }

a {
    text-decoration: none;
    color: black;
}

/* Navigation */

nav {
    background-color: var(--main-cream);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-and-logo {
    display: flex;
    align-items: center;
    width: 50%;
}

.site-title h2 {
    font-size: 24px;
}

.site-title h1 {
    font-size: 40px;
}

.menu-elements {
    display: flex;
    width: 30rem;
    justify-content: space-around;
}

/* Schedule Page */
.schedule-title {
    font-size: 80px;
}

.schedule {
    display: flex;
    justify-content: space-between;
}

.left-schedule {
    width: 70%;
}

.left-schedule h2 {
    font-size: 36px;
}

.left-schedule ul {
    padding: 0rem 3rem;
}

.left-schedule ul li {
    font-size: 24px;
    list-style: square;
}

.right-schedule {
    width: 30%;
}

.right-schedule ul {
    padding: 0rem 1rem;
}

.right-schedule ul li {
    font-size: 16px;
}

.fri-performers ul li, .sat-performers ul li, .weather ul li, .parking ul li {
    list-style: none;
    display: flex;
    justify-content: start;
}

/* Footer */

footer {
    background: var(--main-orange);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media a img {
    height: 3rem;
}