:root {
    --main-orange: #723435;
    --secondary-orange: #D65F30;
    --main-cream: #FFEBE2;
    --main-gray: #2A2A2A;
  }  

/* Global Properties*/
.underline {
    text-decoration: underline;
}

.cream-text {
    color: var(--main-cream);
}

.orange-text {
    color: var(--main-orange);
}

.orange-background {
    background-color: var(--main-orange);
}

.gray-text {
    color: var(--main-gray);
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

/*Other Properties*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Hepta Slab", serif;
    font-weight: 400;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: white;
}

li::marker {
    color: var(--main-orange);
    font-size: 3rem;
  }

a {
    text-decoration: none;
    color: black;
}

.contact-us-main, .registration-main {
    height: 70%;
}

/* Navigation */

nav {
    background-color: var(--main-cream);
    height: 15%;
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.title-and-logo {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    width: 50%;
}

.site-title h2 {
    font-size: 24px;
}

.site-title h1 {
    font-size: 40px;
    font-weight: 700;
}

.hamburger-menu {
    display: none;
}

.menu-elements {
    display: flex;
    max-width: 32rem;
    width: 50%;
    justify-content: space-between;
    font-size: 20px;
}

nav a p {
    font-weight: 500;
    font-family: "Heebo", serif;
}

/*Lower Navigation*/
.lower-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20%;
    background-image: url(images/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    height: 600px;
    padding: 0rem 2rem;
}

.lower-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower-nav p {
    font-size: 40px;
}

.lower-nav img {
    width: 10rem;
}

.lower-nav p {
    font-family: "Heebo", serif;
}

/* Schedule Page */
.schedule-title {
    font-size: 80px;
    font-weight: 500;
    margin: 2rem;
}

.schedule-main {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.left-schedule {
    width: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.left-schedule h2 {
    font-size: 36px;
    padding: 1rem;
}

.left-schedule ul {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left-schedule ul li {
    font-size: 24px;
    list-style: square;
}

.right-schedule {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: var(--main-orange) solid 2px;
}

.right-schedule div {
    padding: 1rem;
}

.right-schedule ul {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.right-schedule ul li {
    font-size: 16px;
    width: 300px;
}

.right-schedule h2, h3 {
    font-weight: 600;
}

.right-schedule h2 {
    margin: 0rem 0rem 0.75rem 0rem;
}

.right-schedule h3 {
    margin: 0.75rem 0rem;
}

.parking li {
    font-weight: 600;
}

.fri-performers ul li, .sat-performers ul li, .weather ul li, .parking ul li {
    list-style: none;
    display: flex;
    justify-content: start;
}

.weather, .weather ul li {
    font-size: 22px;
}

.parking, .parking ul li {
    font-size: 22px;
}

.fri-left, .sat-left {
    width: 40%;
}

.fri-right, .sat-right {
    width: 60%;
}

/* Registration Page */
.registration-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registration-cont {
    display: flex;
    column-gap: 2rem;
    height: 65%;
    justify-content: center;
}

.registration-title-cont {
    display: flex;
    align-items: center;
    justify-content: center;;
    height: 35%;
}

.registration-cont div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-orange);
    color: white;
    padding: 2rem;
    width: 30rem;
    height: 10rem;
    font-size: 24px;
}

/* Contact Page */
.contact-us-main {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.contact-us-main img {
    width: 90%;
}

.contact-us-main section {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    font-size: 24px;
}

.contact-us-title, .location-title {
    font-size: 80px;
    font-weight: 600;
}

/* index/Home page */

.video-image img{
    object-fit: cover;
    width: 100%;
    height: 500px;

    position: relative;
    z-index: -1;
}

.calendar-info{
    background-color: var(--main-orange);
    padding: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -4px;
}

.calendar-logo img{
    margin-top: -50px;
}

.calendar-text {
    align-items: center;
    max-width: 100%;
}

.calendar-text h1{
    font-size: 40px;
}

.calendar-text h3{
    font-size: 60px;
}

.calendar-info img{
    max-width: 300px;
    padding-right: 2rem;
}

.calendar-info, .calendar-text{
    color: var(--main-cream);
}

.divider {
    width: 15rem;
    max-width: 100%;
    border-top: 2px solid var(--main-orange);
    margin: auto;
}

.family-friendly, .delicious-eats, .activities, .event-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 1rem;
    margin: 2rem;
}

.family-friendly > div, .delicious-eats > div, .activities > div {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.family-friendly h3, .delicious-eats h3, .activities h3, .event-details h3{
    font-size: 40px;
}

.family-friendly p, .delicious-eats p, .activities p, .event-details p{
    font-size: 20px;
    font-family: "Heebo", serif;
}

.hog_callin_image{
    display: flex;
    justify-content: center;
    padding: 3rem 0rem 3rem 0rem;
}

.lower-nav img{
    max-width: 100%;
}

.lower-nav p{
    font-size: 35px;
}

.sponsors-section {
    background-color: var(--main-cream);
}

.sponsors-text p{
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding-top: 2rem;

}

.sponsors-image img{
    max-width: 20%;
    padding: 2rem;

}

/* About page */
.about-main section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two equal columns */
    grid-template-rows: auto auto;  /* Creates two rows */
    gap: 1rem; /* Adds space between grid items */
    grid-template-areas: 
        "upper-text upper-image"
        "lower-image lower-text";
}

.about-upper-image {
    grid-area: upper-image;
}

.upper-about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    padding: 5rem;
    grid-area: upper-text;
}

.about-lower-image {
    grid-area: lower-image;
}

.about-lower-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    padding: 5rem;
    grid-area: lower-text;
}

.about-main p {
    font-family: "Heebo", serif;
    font-size: 30px;
}

.about-main img {
    width: 100%;
}

.about-title {
    text-align: center;
    margin: 2rem;
    font-size: 48px;
}

/* Footer */
footer {
    background: var(--main-orange);
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-us-footer, .registration-footer {
    height: 15%;
}

.social-media a img {
    height: 3rem;
    margin: 0rem 0.5rem;
}

/* IPad Size */
@media (max-width: 950px) {
    /* Navigation (IPad) */
    .title-and-logo {
        width: 80%;
    }

    .hamburger-menu {
        width: 20%;
        text-align: right;
        display:block;
    }

    .nav-logo {
        width: 20%;
    }

    .nav-logo img {
        width: 5rem;
    }

    .site-title {
        width: 80%;
    }

    .menu-elements {
        display: none;
    }

    /*Index/Home (IPad)*/
    .calendar-info {
        flex-direction: column;
    }

    /*Lower Nav (IPad)*/
    .lower-nav img {
        width: 8rem;
    }

  }

/* Mobile Size */
@media (max-width: 600px) {
    /* Navigation (Mobile) */
    .title-and-logo {
        width: 90%;
    }
    
    .hamburger-menu {
        width: 10%;
    }

    .nav-logo {
        width: 10%;
    }

    .site-title {
        width: 80%;
    }

    .site-title h2 {
        font-size: 24px;
        text-align: center;
    }
    
    .site-title h1 {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    /*Index/Home (Mobile)*/
    .video-image img{
        height: 200px;
    }

    .calendar-text h1{
        font-size: 25px;
    }
    
    .calendar-text h3{
        font-size: 40px;
    }

    .family-friendly h3, .delicious-eats h3, .activities h3, .event-details h3{
        font-size: 25px;
    }

    .hog_callin_image img {
        width: 100%;
    }

    /*Lower Nav (Mobile)*/
    .lower-nav {
        column-gap: 5%;
        height: 250px;
    }
    
    .lower-nav img {
        width: 5rem;
    }

    .lower-nav a {
        font-size: 25px;
    }
    
    .lower-nav p {
        font-size: 25px;
    }

    /*Footer Responsiveness*/
    .social-media a img {
        height: 2rem;
    }

    footer p {
        font-size: 0.5rem;
    }

    .sponsors-image {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sponsors-text {
        text-align: center;
    }

    .sponsors-text p {
        font-size: 1.5rem;
    }

    .sponsors-image img {
        max-width: 60%;
        display: block;
    }

  }
