* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: rgb(171, 171, 171);
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
}

.title-and-logo {
    display: flex;
}

.menu-elements {
    display: flex;
}

/* Schedule Page */

.schedule {
    display: flex;
    justify-content: space-between;
}

.fri-performers, .sat-performers {
    display: flex;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media a img {
    height: 3rem;
}