/* CSS for About Page */
.about-main section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two equal columns */
    grid-template-rows: auto auto;  /* Creates two rows */
    gap: 1rem; /* Adds space between grid items */
    grid-template-areas: 
        "upper-text upper-image"
        "lower-image lower-text";
}

.about-upper-image {
    grid-area: upper-image;
}

.upper-about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    padding: 5rem;
    grid-area: upper-text;
}

.about-lower-image {
    grid-area: lower-image;
}

.about-lower-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    padding: 5rem;
    grid-area: lower-text;
}

.about-main p {
    font-family: "Heebo", serif;
    font-size: 30px;
}

.about-main img {
    width: 100%;
}

.about-title {
    font-size: 80px;
    font-weight: 600;
    margin: 2rem;
}

/* IPad Size */
@media (max-width: 950px) {
    /* About (IPad) */

  }

/* Mobile Size */
@media (max-width: 600px) {
    /* About (Mobile) */
   
  }