/* CSS for Contact Page */
.contact-us-main {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.contact-us-main img {
    width: 90%;
    margin-left: 2rem;
}

.contact-us-main section {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    font-size: 24px;
}

.contact-us-title, .location-title {
    font-size: 60px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* IPad Size */
@media (max-width: 950px) {
    /* Contact (IPad) */
    .contact-us-main img {
        width: 80%;
    }
    
    .contact-us-main section {
        font-size: 20px;
        row-gap: 1.5rem;
    }

    .contact-us-title, .location-title {
        font-size: 50px;
  }
}

/* Mobile Size */
@media (max-width: 600px) {
    /* Contact (Mobile) */
    .contact-us-main{
        flex-direction: column;
        align-items: center;
    }

    .contact-us-main img {
        width: 80%;
    }
    
    .contact-us-main section {
        font-size: 16px;
        row-gap: 1rem;
    }

    .contact-us-title, .location-title {
        font-size: 30px;
    }
  }