/* CSS for Registration Page */
.registration-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registration-cont {
    display: flex;
    column-gap: 2rem;
    height: 65%;
    justify-content: center;
}

.registration-title-cont {
    display: flex;
    align-items: center;
    justify-content: center;;
    height: 35%;
}

.registration-cont div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-orange);
    color: white;
    padding: 2rem;
    width: 30rem;
    height: 10rem;
    font-size: 24px;
}

/* IPad Size */
@media (max-width: 950px) {
    /* Registration (IPad) */

  }

/* Mobile Size */
@media (max-width: 600px) {
    /* Registration (Mobile) */
   
  }