/* CSS for Schedule Page */

.schedule-title {
    font-size: 80px;
    font-weight: 600;
    margin: 2rem;
}

.schedule-main {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.left-schedule {
    width: 73%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.left-schedule ul {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left-schedule-bulletpoints{
    margin-left: 3rem;
}

.left-baseline-spacer {
    padding: 25px;
}

.right-schedule {
    width: 25%;
    display: flex;
    flex-direction: column;
    border-left: var(--main-orange) solid 5px;
}

.right-col-headers {
    font-size: 32px;
    padding-left: 20px;
    padding-top: 25px;
}

.underline-schedule {
    width: 100%;
    border-bottom: var(--main-orange) solid 3px;
}

.right-schedule div {
    padding: 1rem;
}

.right-schedule ul {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.right-schedule ul li {
    font-size: 16px;
    width: 300px;
}

.right-schedule h2, h3 {
    font-weight: 600;
}

.right-schedule h2 {
    margin: 0rem 0rem 0.75rem 0rem;
    color: var(--main-orange)
}

.right-schedule h3 {
    margin: 0.75rem 0rem;
    padding-left: 1.75rem;
}

.parking li {
    font-weight: 600;
}

.fri-performers ul li, .sat-performers ul li, .weather ul li, .parking ul li {
    list-style: none;
    display: flex;
    padding-left: 3rem;
    justify-content: start;
}

.weather, .weather ul li {
    font-size: 22px;
}

.parking, .parking ul li {
    font-size: 22px;
}

.fri-left, .sat-left {
    width: 40%;
}

.fri-right, .sat-right {
    width: 60%;
}

@media (min-width: 951px){
    .left-schedule h2 {
        font-size: 36px;
        padding: 1rem;
    }

    .left-schedule ul li {
        font-size: 24px;
        padding-bottom: 10px;
        list-style: square;
    }
}

/* IPad Size */
@media (max-width: 950px) {
    /* Schedule (IPad) */
    h2{
        font-size: 24px;
        padding: 1rem;
    }

    .left-schedule ul li {
        font-size: 20px;
        padding-bottom: 2px;
        list-style: square;
    }

    .schedule-title {
        font-size: 48px;
        font-weight: 600;
        margin: 2rem;
        text-align: center;
    }    

    .schedule-main {
        flex-direction: column;
        align-items: center;
    }

    .right-schedule h2 {
        margin: 0rem 0rem 0.75rem 0rem;
        color: white;
        background-color: var(--main-orange);
    }

    .left-schedule {
        width: 100%;
    }

    .right-schedule {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-left: none;
    }

    .right-col-headers {
        padding: 1rem 2rem;
    }

    .performers {
        display: flex;
    }
  }

/* Mobile Size */
@media (max-width: 600px) {
    /* Schedule (Mobile) */
    .left-schedule h2{
        font-size: 24px;
        padding: 1rem;
    }

    .right-schedule h2{
        font-size: 24px;
        padding: 1rem;
    }

    .right-schedule h3{
        font-size: 20px;
    }

    .left-schedule ul li {
        font-size: 18px;
        padding-bottom: 2px;
        list-style: square;
    }

    .right-schedule ul li {
        font-size: 18px;
        padding-bottom: 2px;
    }

    .right-baseline-spacer {
        padding: 25px;
    }
  }
  