/* IMPORTANT */
/* This it the CSS for things shared between multiple pages */

:root {
    --main-orange: #723435;
    --secondary-orange: #D65F30;
    --main-cream: #FFEBE2;
    --main-gray: #2A2A2A;
  }  

/* Global Properties*/
.underline {
    text-decoration: underline;
}

.cream-text {
    color: var(--main-cream);
}

.orange-text {
    color: var(--main-orange);
}

.orange-background {
    background-color: var(--main-orange);
}

.cream-background {
    background: var(--main-cream);
}

.gray-text {
    color: var(--main-gray);
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

/*Other Properties*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Hepta Slab", serif;
    font-weight: 400;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: white;
}

li::marker {
    color: var(--main-orange);
    font-size: 3rem;
  }

a {
    text-decoration: none;
    color: black;
}

.contact-us-main, .registration-main {
    height: 100%;
}

/* Navigation */

nav {
    background-color: var(--main-cream);
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

body {
    padding-top: 7rem; /* Adjust based on the height of your navbar */
}

.title-and-logo {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    width: 50%;
}

.site-title h2 {
    font-size: 24px;
}

.site-title h1 {
    font-size: 40px;
    font-weight: 700;
}

.menu-elements {
    display: flex;
    max-width: 32rem;
    width: 50%;
    justify-content: space-between;
}

.menu-elements a{
    font-size: 20px;
    transition: font-size 0.3s ease; 
}

.menu-elements a:hover{
    font-size: 21px;
}

/*hamburger menu*/
.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-info{
    display: none;
    flex-direction: column;
    background-color: var(--main-orange);
    width: 30%;
    height: 50%;
    position: fixed;
    padding: 1rem;
    top: 0;
    right: 0;
}

.hamburger-info ul{
    line-height: 3.5rem;
    list-style-type: none;
}

.hamburger-info a {
    color: white;
}

.close-cont {
    display: flex;
    justify-content: end;
}

.close-cont img {
    width: 2rem;
}

.overlay{
    display: none;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.menu{
    display: none;
    background-color: white;
    width: 60%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
}

.menu ul{
    display: grid;

    font-size: 20px;
    font-weight: 400;

    padding-top: 40%;
    padding-left: 10%;
    padding-bottom: 60%;
}

nav a p {
    font-weight: 500;
    font-family: "Heebo", serif;
}

/* Footer */
footer {
    background: var(--main-orange);
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-us-footer, .registration-footer {
    height: 15%;
}

.social-media a img {
    height: 3rem;
    margin: 0rem 0.5rem;
}

/* IPad Size */
@media (max-width: 950px) {
    /* Navigation (IPad) */
    .title-and-logo {
        width: 80%;
    }

    .hamburger-menu {
        width: 20%;
        text-align: right;
        display:block;
    }

    .nav-logo {
        width: 20%;
    }

    .nav-logo img {
        width: 5rem;
    }

    .site-title {
        width: 80%;
    }

    .menu-elements {
        display: none;
    }

    .menu-elements .menu {
        display: flex; /* Show menu when "menu" class is added */
    }
  }

/* Mobile Size */
@media (max-width: 600px) {
    /* Navigation (Mobile) */
    .title-and-logo {
        width: 90%;
    }
    
    .hamburger-menu {
        width: 10%;
    }

    .nav-logo {
        width: 10%;
    }

    .site-title {
        width: 80%;
    }

    .site-title h2 {
        font-size: 24px;
        text-align: center;
    }
    
    .site-title h1 {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
  }
